.app-header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-size: 2rem;
        font-weight: bold;
        // margin-inline-start: .5rem;
    }

    nav {
        display: none;
    }

    a {
        color: $clr-white;
        text-decoration: none;
    }

    img {
        width: 20px;
        height: 1rem;
        justify-self: end;
        // margin-inline-end: .5rem;
    }

    button {
        display: none;
    }

    @include for-narrow-layout {
        .nav-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }

        img {
            display: none;
        }

        button {
            display: block;
            @include btn($clr-white)
        }

    }
}
