@font-face {
    font-family: Livvic-Bold;
    src: 'fonts/Livvic/Livvic-Bold.ttf';
}

@font-face {
    font-family: Livvic-SemiBold;
    src: 'fonts/Livvic/Livvic-SemiBold.ttf';
}

@font-face {
    font-family: Livvic-MediumItalic;
    src: 'fonts/Livvic/Livvic-MediumItalic';
}