$clr1: #79c8c7;
$clr2: #2c6269;
$clr3: #f67e7e;
$clr4: #012f34;
$clr5: #c4fffe;
$clr6: #004047;
$clr7: #002529;
$clr8: #014e56;
$clr-white: #ffffff;

// LAYOUT
$layoutPadding: 65px;

// LAYOUT BREAKPOINTS
$break-narrow: 520px;
$break-normal: 780px;
$break-wide: 960px;